<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 z-depth-2">
        <div class="card-image">
          <%=image_tag("card_image_front.jpg", height:"400", width:"32",  alt: "Sniffer dog")%>
          <span class="card-title">K-9 Dog Bot</span>
        </div>
        <div class="card-content white-text">
          <p>The time is now: <%= Time.now %></p>
          <p>Upload a dog picture and I will give it a sniff!</p>
        </div>
      <div class="card-action">
        <%= form_with(url: {action: :upload}, multipart: true, method: 'post') do %>
        <%= file_field_tag 'image', required: true %>
         <button type="submit" onclick="toggleLiveData('progress_container');" class="btn-floating halfway-fab waves-effect waves-light red pulse"><i class="large material-icons">file_upload</i></button>
        <% end %>
  <script>
  function toggleLiveData(elem) {
      document.getElementById(elem).style.display = 'block';
      };
  </script>
  <div id="progress_container" style="display: none" class="progress blue-grey">
      <div class="indeterminate blue"></div>
  </div>
        
      </div>
    </div>
  </div>
</div>

<% if @breed_info %>
<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 z-depth-2">
<ul class="collection with-header">
  <% @breed_info.each do |dog|%>
   <li class="collection-header"><h4><%= dog.first %></h4></li>
   <% dog.last.each do |attributes|%>
     <li class="collection-item"><%= attributes %></li>
   <%end%>
  <%end%>
</ul>
</div>
</div>
</div>
<%end%>